.main {
  width: 100vw;
  max-width: 100%;
}

/*First Section with background image and button*/
.firstSection {
  padding-top: 10vh;
  padding-bottom: 4vw;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #ffda57;
  background-size: cover;
  background-position: center;
}

.breadcrumbsContainer {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 8vw;
  padding-right: 8vw;
}
.breadcrumbs {
  padding: 0;
  margin: 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
}

.breadcrumbs .breadcrumbArrow {
  color: #333;
}

.sumUpContainer {
  padding-bottom: 2vw;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.leftSide,
.rightSideLong,
.rightSideShort {
  width: 50%;
  position: relative;
}

.leftSide {
  max-width: 600px;
  text-align: right;
}

.titleConfidentiality {
  text-align: center;
  padding-bottom: 2vw;
  border-bottom: 1px solid #d6d6d6;
}

.contentConfidentiality {
  padding-top: 2vw;
}

.rightSideLong,
.rightSideShort {
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;
  margin: 0;
  max-height: 460px;
  min-height: 320px;
  overflow: hidden;
}

.rightSideShort {
  display: none;
}

.title {
  font-size: 2em;
}
.mark {
  background-color: white;
  color: black;
}

.subtitle {
  font-size: 1.2em;
}

.sectionContainer {
  padding: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
  margin-left: 8vw;
  margin-right: 8vw;
  background-color: white;
  border-radius: 1em;
}

.markdownContent h3 {
  font-size: 1.4em;
  margin-top: 10px;
}

.markdownContent p,
.longSummary {
  font-size: 1em;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .breadcrumbsContainer {
    padding-top: 4vw;
  }

  .sumUpContainer {
    flex-direction: column;
    padding-top: 4vw;
  }
  .leftSide,
  .rightSideShort {
    width: 100%;
  }

  .rightSideShort {
    display: block;
    border-radius: 0px;
    border-bottom-left-radius: 170px;
    /* border-top-left-radius: 170px;
    border-top-right-radius: 150px; */
    margin-left: 8vw;

    margin-bottom: 4vw;
    max-width: 92vw;
    overflow: hidden;
  }

  .leftSide {
    text-align: left;
    max-width: 100%;
    padding-bottom: 2vw;
  }
  .rightSideLong {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  .markdownContent h3 {
    font-size: 1.4em;
  }

  .markdownContent p,
  .longSummary {
    font-size: 0.9em;
    line-height: 1.7em;
  }
}

@media screen and (max-width: 520px) {
  .breadcrumbsContainer {
    padding-top: 6vw;
  }
  .sectionContainer {
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .sumUpContainer {
    padding-top: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .breadcrumbsContainer {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media screen and (max-width: 400px) {
  .rightSideShort {
    border-radius: 0px;
    border-bottom-left-radius: 170px;
    /* border-top-left-radius: 170px;
    border-top-right-radius: 150px; */
    margin-left: 4vw;
    max-height: 300px;
    min-height: 220px;
    max-width: 96vw;
    overflow: hidden;
  }
  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  .markdownContent h3 {
    font-size: 1.4em;
  }

  .markdownContent p,
  .longSummary {
    font-size: 0.9em;
    line-height: 1.7em;
  }

  .markdownContent ul,
  .markdownContent ol {
    list-style-position: inside;
    padding-left: 0;
  }
}
