.articles {
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid rgb(233, 190, 89);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linkToArticle {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

.articleHeader {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 82 px;
}

.articleTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.05;
}

.subtitle {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.06;
  text-align: justify;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(233, 190, 89);
}

.meta {
  padding: 10px;
}
