.main {
  width: 100vw;
  max-width: 100%;
}

/*First Section with background image and button*/
.firstSection {
  margin-top: 10vh;
  padding-bottom: 4vw;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #ffda57;
  background-size: cover;
  background-position: center;
}

.breadcrumbsContainer {
  padding-top: 2vw;
  padding-left: 8vw;
  padding-right: 8vw;
}
.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 5px;
  list-style: none;
}

.sumUpContainer {
  padding-bottom: 2vw;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.leftSide,
.rightSide {
  width: 50%;
  position: relative;
}

.leftSide {
  max-width: 600px;
  text-align: right;
}
.rightSide {
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;
  margin: 0;
  max-height: 460px;
  min-height: 320px;
  overflow: hidden;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
}

.breadcrumbs a:hover {
  color: #ffda57;
}

.breadcrumbs .breadcrumbArrow {
  color: #333;
}

.title {
  font-size: 2em;
}
.mark {
  background-color: white;
  color: black;
}

.subtitle {
  font-size: 1.2em;
}

.sectionContainer {
  padding: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
  background-color: white;
  border-radius: 1em;
}

.markdownContent h2 {
  line-height: 1.06;
  font-size: 1.4em;
}

.markdownContent p,
.longSummary {
  line-height: 1.06;
  font-size: 1em;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .sumUpContainer {
    flex-direction: column;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .leftSide,
  .rightSide {
    width: 100%;
  }
  .rightSide {
    max-height: 200px;
    min-height: 150px;
  }
  .leftSide {
    text-align: left;
    max-width: 100%;
    padding-bottom: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  .markdownContent h2 {
    font-size: 1.4em;
  }

  .markdownContent p,
  .longSummary {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 520px) {
  .sectionContainer {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .sumUpContainer {
    padding-top: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .breadcrumbsContainer {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media screen and (max-width: 400px) {
  .rightSide {
    border-radius: 150px;
    /* border-bottom-left-radius: 150px;
    border-top-right-radius: 150px; */
    margin: 0;
    max-height: 150px;
    min-height: 100px;
    overflow: hidden;
  }
}
