.main {
  width: 100vw;
  max-width: 100%;
}

/*First Section with background image and button*/
.firstSection {
  margin-top: 10vh;
  padding-bottom: 4vw;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #ffda57;
  background-size: cover;
  background-position: center;
}

.filterContainer {
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.sectionLink {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sectionLinkActive {
  background-color: #ffff;
  color: #333;
}

.sectionLink:hover {
  background-color: #ffff;
  color: #333;
}

.sectionContainer {
  padding: 4vw;
  margin-top: 2vw;
  margin-left: 8vw;
  margin-right: 8vw;
  background-color: white;
  border-radius: 1em;
}

.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 5px;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
}

.breadcrumbs a:hover {
  color: #ffda57;
}

.breadcrumbs .breadcrumbArrow {
  color: #333;
}

.articleContainer {
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pagination {
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.noPagination {
  display: none;
}
