.footerContainer {
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerContainer p {
  padding: 0;
  margin: 0;
}
.footerContainer a {
  padding: 0;
  margin: 0;
}

.footerLogo {
  width: 8vw;
  height: 8vw;
  position: relative;
}
.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
}

.contactSection,
.aboutSection,
.blogSection,
.appSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2vw;
  gap: 10px;
}
.sectionTitles {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffda57;
}

.sectionLinks {
  font-size: 1em;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.heroButtons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: initial;
  gap: 10px;
}

.heroButtonGoogle {
  width: 7.9rem;
  height: 2.5rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../public/googleplayBadge.png");
  background-size: 7.9rem 2.5rem;
}
.heroButtonApple {
  width: 7.9rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../public/appstoreBadge.svg");
  background-size: 7.9rem 2.5rem;
}

@media screen and (max-width: 980px) {
  .footerContainer {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .sectionTitles {
    font-size: 1.2em;
  }

  .sectionLinks {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1200px) {
  .footerLogo {
    width: 12vw;
    height: 12vw;
    position: relative;
  }
}
@media screen and (max-width: 700px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw;
  }
  .footerLogo {
    width: 160px;
    height: 160px;
    position: relative;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .contactSection,
  .aboutSection,
  .blogSection,
  .appSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vw;
    gap: 10px;
    margin-top: 30px;
  }
  .sectionTitles {
    font-size: 1.4em;
  }

  .sectionLinks {
    font-size: 0.9em;
  }
}

/* @media screen and (max-width: 540px) {
  .footerLogo {
    width: 30vw;
    height: 30vw;
    position: relative;
  }
}

@media screen and (max-width: 355px) {}  */
