@font-face {
  font-family: "Bryndan Write";
  src: url("../public/Bryndan_Write.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 1px;
}

button {
  margin: 0;
  padding: 0;
}
