.main {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  cursor: inherit;
}

/*First Section with background image and button*/
.firstSection {
  margin-top: 10vh;

  width: 100%;
  max-width: 100%;
  background-color: #ffda57;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container1 {
  padding: 8vw;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 4em;
  line-height: 1em;
  color: #57a6ff;
  font-family: "Bryndan Write";
}

.titleText {
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: justify;
  color: black;
}

.projectImage0 {
  height: 100%;
  width: 100%;
  position: relative;
}

.projectImage1 {
  border-radius: 6px;
  background-color: #ffda57;
}

.projectImage2 {
  background-image: url("../public/squareOursonTransparent.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.heroContainer {
  display: flex;
  flex-direction: column;
}
.heroButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3em;
  margin-top: 2em;
  position: relative;
}

.heroButtonGoogle {
  width: 12rem;
  height: 3.8rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../public/googleplayBadge.png");
  background-size: 12rem 3.8rem;
}
.heroButtonApple {
  width: 12rem;
  height: 3.8rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../public/appstoreBadge.svg");
  background-size: 12rem 3.8rem;
}

.arrowContainer {
  position: absolute;
  display: flex;
}
.arrowEmpty {
  width: 18.3rem;
}

.arrowWIP {
  width: 12rem;
  height: 8.3rem;
  background-image: url("../public/comingSoonWhite.svg");
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .container1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectImage0 {
    height: 70vw;
    width: 70vw;
  }
  .projectDescription1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 3em;
    line-height: 1em;
    text-align: center;
  }

  .titleText {
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
  }

  .heroButtons {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: initial;
    margin-top: 1em;
  }

  .arrowContainer {
    position: initial;
  }
  .arrowEmpty {
    width: 00rem;
  }
  .arrowWIP {
    width: 8rem;
    height: 5.5rem;
    margin-top: 1em;
    background-image: url("../public/comingSoonWhite.svg");
    background-size: contain;
  }

  .container1 {
    padding: 4vw;
  }
}

/*Second Section with background image and button*/
.secondSection {
  height: 90vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
