.main {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  cursor: inherit;
}

/*First Section with background image and button*/
.firstSection {
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
  max-width: 100%;
  background-color: #ffda57;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container1 {
  padding-left: 8vw;
  padding-right: 8vw;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 4em;
  line-height: 1em;
  font-family: "Bryndan Write";
  /* Fallback: Set a background color. */
  background-color: #57a6ff;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #57a6ff 16.666%,
    #9ab9f5 33.333%,
    #d1aaa3 50%,
    #ea9283 66.666%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.title:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.titleText {
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: justify;
  color: black;
}

.projectImage0 {
  height: 100%;
  width: 100%;
  position: relative;
}

.projectImage1 {
  border-radius: 6px;
  background-color: #ffda57;
}

.projectImage2 {
  background-image: url("../public/squareOursonTransparent.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.heroContainer {
  display: flex;
  flex-direction: column;
}
.heroButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3em;
  margin-top: 2em;
  position: relative;
}

.heroButtonGoogle {
  width: 12rem;
  height: 3.8rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../public/googleplayBadge.png");
  background-size: 12rem 3.8rem;
}
.heroButtonApple {
  width: 12rem;
  height: 3.8rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../public/appstoreBadge.svg");
  background-size: 12rem 3.8rem;
}

.arrowContainer {
  display: flex;
}
.arrowEmpty {
  width: 18.3rem;
}

.arrowWIP {
  width: 12rem;
  height: 8.3rem;
  background-image: url("../public/comingSoonWhite.svg");
  background-size: contain;
}

@media screen and (max-width: 1435px) {
  .title {
    font-size: 3em;
    line-height: 1em;
  }

  .titleText {
    font-size: 1.1em;
    line-height: 1.6em;
  }
}

@media screen and (max-width: 980px) {
  .firstSection {
    height: 100%;
  }
  .container1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw;
  }
  .projectImage0 {
    height: 60vw;
    width: 60vw;
  }
  .projectDescription1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 2.5em;
    line-height: 1em;
    text-align: center;
  }

  .title_ourson {
    font-size: 2em;
    line-height: 1em;
  }

  .titleText {
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
  }

  .heroButtons {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: initial;
    margin-top: 1em;
  }
  .arrowContainer {
    display: flex;
  }
  .arrowEmpty {
    width: 12rem;
  }
  .arrowWIP {
    width: 8rem;
    height: 5.5rem;
    margin-top: 1em;
    background-image: url("../public/comingSoonWhite.svg");
    background-size: contain;
  }
}

@media screen and (max-width: 540px) {
  .firstSection {
    height: 100%;
  }
  .title {
    font-size: 2em;
    line-height: 1em;
    text-align: center;
  }

  .titleText {
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
  }

  .arrowContainer {
    justify-content: flex-end;
    width: 70vw;
  }
  .arrowEmpty {
    width: 00rem;
  }
  .projectImage0 {
    height: 60vw;
    width: 80vw;
  }
}

@media screen and (max-width: 355px) {
  .title {
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
  }
  .projectImage0 {
    height: 60vw;
    width: 100vw;
  }
}
/*Second Section with background image and button*/
.secondSection {
  height: 90vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
